body {
  margin: 0;
  font-family: 'Oswald', 'Arial', 'sans-serif';
}

// Fonts
@import "../assets/fonts/Oswald/stylesheet.css";

// BASE
$tablet-width: 800px;
$desktop-width: 1280px;
$base-transition: 0.3s;

// COLORS
$color-black: #000;
$color-white: #fff;
$color-pink-near: #db4696;
